name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask
          pip install python-telegram-bot
          pip install apscheduler
          pip install pytz
          pip install requests
          pip install paramiko
          # 根据需要安装更多依赖项

      - name: Run Flask App
        run: |
          python your_flask_script.py
